# 核心优化项
auto-install-peers=true     # 自动安装 peerDependencies
strict-peer-dependencies=false
shamefully-hoist=true       # 提升依赖（兼容部分工具）
override-peer-dependencies=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@nx/*

# Monorepo 加速
node-linker=hoisted         # 提升依赖结构（减少重复安装）
enable-pre-post-scripts=true